.reviews {

  &__title {
    margin-bottom: 70px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
    min-width: 0;
  } 

  &__content {
    width: 440px;
  }

  &__rating {
    margin-bottom: 40px;
  }

  &__rating-title {
    font-size: 21px;
    color: #EDEDED;
    margin-bottom: 24px;
  }

  .star {
    margin-right: 30px;
    margin-bottom: 15px;
    padding: 0;

    .jq-ry-normal-group svg {
      fill:#1F1F1F;
      stroke:#EDEDED;
      stroke-width:20;
    }

    .jq-ry-rated-group svg {
      fill:#EDEDED;
      stroke:#EDEDED;
      stroke-width:20;
    }
  }

  .star:last-child {
    margin-bottom: 0;
  }

  &__rating--box {
    display: flex;
  }

  &__rating-num {
    display: inline-block;
    color: #EDEDED;
    font-size: 21px;
    line-height: 1.2;
  }

  &__write {
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    color: #EDEDED;
    margin-bottom: 15px;
  }

  &__score {
    text-transform: uppercase;
    color: #EDEDED;
    font-size: 23px;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  .score {
    padding: 18px 0 0 0;
    .jq-ry-normal-group svg {
      fill:#1F1F1F;
      stroke:#EDEDED;
      stroke-width:20;
    }

    .jq-ry-rated-group svg {
      fill:#EDEDED;
      stroke:#EDEDED;
      stroke-width:20;
    }
  }
}


.form {
  display: flex;
  flex-direction: column;

  &__textarea {
    display: block;
    border-radius: 25px;
    resize: none;
    height: 115px;
    width: 271px;
    margin-top: 15px;
    padding: 6px 10px;
    outline: none;
    font-size: 20px;
    border:transparent;
    background-color: #ededed;
  }

  &__label {
    text-transform: uppercase;
    color: #EDEDED;
    font-size: 23px;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  &__input {
    display: block;
    width: 271px;
    height: 42px;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 25px;
    outline: none;
    border:transparent;
    margin-top: 15px;
    background-color: #ededed;
  }

  &__upload {
    text-transform: uppercase;
    color: #EDEDED;
    font-size: 23px;
    line-height: 1.2;
    margin-bottom: 35px;
  }

  .form__btn {
    border-radius: 25px;
    background-color: #929292;
    padding: 7px 49px;
    color: #ededed;
    font-size: 17px;
    line-height: 1.2;
    display: block;
    outline: none;
    border: transparent;
    margin-top: 13px;
    cursor: pointer;
  }

  .post__btn {
    background-color: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    color: #ededed;
    display: inline-block;
    width: 80px;
    height: 27px;
    text-align: left;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .post__btn::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 10px;
    left: 0;
    bottom: -8px;
    background-image:url('../images/reviews/arrow.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.swiper {
  max-width: 600px;
  width: 100%;
  height: 810px;
  padding: 50px 0 0 30px;

  .reviews-slider__wrapper {
    display: flex;
  }
 
  .swiper-slide {
    margin-bottom: 0;
  }

  .reviews-slider__image {
    min-width: 97px;
    height: 97px;
    margin-right: 25px;
    position: relative;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50px;
      margin-top: -30px;
    }
  }

  .reviews-slider__content {
    color: #303030;
    padding: 30px;
    background-color: #c6c6c6;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.12);
    border-radius: 25px;
  }
    
  .reviews-slider__name{
    font-weight: 600;
    display: block;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
    
  .star {
    margin-bottom: 10px;
  }
    
  .reviews-slider__text {
    font-size: 21px;
    max-width: 400px;
    @include line-climp(5);
  }

  .swiper-scrollbar-drag {
    background: #EDEDED;
    cursor: pointer;
    height: 150px !important;
  }
  
}

.swiper-vertical>.swiper-scrollbar {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 3px;
  height: 720px;
  left: 0;
}
 
.swiper-scrollbar {
  background: #2D2D2D;
  cursor: pointer;
}


// .reviews-slider {
//   max-width: 600px;
//   width: 100%;
//   height: 280px;

//   &__item {
//     padding: 50px 0;
//   }

//   &__wrapper {
//     display: flex;
//   }

//   &__image {
//     min-width: 97px;
//     height: 97px;
//     margin-right: 25px;
//     position: relative;

//     img {
//       width: 100%;
//       object-fit: cover;
//       border-radius: 50px;
//       margin-top: -30px;
//     }
//   }

//   &__content {
//     color: #303030;
//     padding: 30px;
//     background-color: #c6c6c6;
//     box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.12);
//     border-radius: 25px;
//   }

//   &__name{
//     font-weight: 600;
//     display: block;
//     padding-bottom: 10px;
//     text-transform: uppercase;
//   }

//   .star {
//     margin-bottom: 10px;
//   }

//   &__text {
//     font-size: 21px;
//     max-width: 415px;
//     @include line-climp(4);
//   }

//   .slick-dots {
//     position: absolute;
//     left: -150px;
//     top: 50%;
//     bottom: 0;
//     transform: translateY(-50%);
//     transform: rotate(90deg);
//     display: flex;
//   }

//   .slick-dots li {
//     line-height: 0;
//     padding: 0;
//   }

//   .slick-dots button {
//     font-size: 0;
//     width: 150px;
//     height: 2px;
//     border:none;
//     outline: none;
//     background-color: #2D2D2D;
//   }

//   .slick-active {
//     button {
//       background-color: #ededed;
//     }
//   }
// }